.cardHolder {
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 0.3px solid #c92020;
    padding: 0.5rem;
    margin: 0.25rem;
    margin-bottom: 0.5rem;
    box-shadow: 1px 1px 2px #000;
    width: calc(50% - 0.5rem);
    min-height: 30vh;

    min-height: calc(50vh - 20rem);
    text-align: center;
    width: 100%;
  }


  .datePanel {
      text-align: right;
      font-weight: bold;
  }

  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
    border: solid 1px #c92020;
    padding: 1rem;
    color: #c92020;
    box-shadow: 1px 1px 7px #000;
  }
  